@use 'base/variables' as v;
@use 'base/mixins' as m;

.citas {
    list-style: none;
    padding: 0;

    li {
        padding: 1rem;
        border-top: 1px solid v.$blanco;
    }

    p {
        font-weight: v.$bold;
        color: v.$azul;
    }

    span,
    .servicio {
        font-weight: v.$regular;
        color: v.$blanco;
    }
}
.servicios {
    @extend .citas;

    .acciones {
        margin: 0;
    }
    .boton,
    .boton-eliminar {
        margin: 0;
    }
}

label {
    font-size: 2.2rem;
    font-weight: v.$bold;
}